 body {
  display: grid;
  min-height: 100vh;
  background-color: black;
  place-items: center;
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  letter-spacing: 0;
  background-color: #151515;
  color: #fff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga' on;
}

.pageTitle {
  color: white;
}

:root {
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsl(0,0%,100%);
  --clr-accent-400: hsl(142, 90%,61%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.read-the-docs {
  color: #888;
} */ */

.search-bar-container {
  width: 80%;
  align-items: center;
  min-width: 200px;
}

/* TESTING OUT CSS */

.card {
  position: relative;
  display: block;
  height: 50%;  
  border-radius: 8px;
  overflow: hidden;
  text-decoration: none;
  margin-right: 4vh;
  background: hsl(0 0% 15% / 1);
  transition: transform 1s ease;
  transition: height 500ms ease;
}

.card:hover{
  transform: scale(1.2); 
  height:100%;
} 


.card__title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 0px;
}

.App {
  display: grid;
  grid-template-columns: 20vh 1fr;
  grid-template-rows: 10vh 1fr;
}

.container {
  display: grid;
  grid-template-rows: 10vh 1fr;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  grid-gap: 1rem;
  gap: 1vh;
  padding: 0;
  list-style-type: none;
}

.card-content {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.card-title {
  position: relative;
  width: max-content;
  word-wrap: break-all;
  margin-top: 0px;
}

.card-title::after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: var(--clr-accent-400);
  left: -3%;
  bottom: -4px;
  width: calc(107%);
  transform: scaleX(0);
  transition: transform 500ms ease;
  transform-origin: left; 
}

.card:hover .card-title::after {
  transform: scaleX(1);
}

.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: var(--clr-neutral-900);
  background-color: var(--clr-accent-400);
  padding: 0.5em 1.25em;
  border-radius: 8px;
}

.card-container {
  height: 400px;
  overflow: hidden;
  transition: height 0.3s ease;
  border-radius: 8px;
  z-index: -1;
}
.card-container:hover {
  height: 100%;
} 