 body {
  display: grid;
  min-height: 100vh;
  background-color: black;
  place-items: center;
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  letter-spacing: 0;
  background-color: #151515;
  color: #fff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pageTitle {
  margin-top: 0vh;
  color: white;
  font-size:80px;
}

:root {
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsl(0,0%,100%);
  --clr-accent-400: hsl(142, 90%,61%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.read-the-docs {
  color: #888;
} */

.search-bar-container {
  width: 80%;
  align-items: center;
  min-width: 200px;
}

/* TESTING OUT CSS */

/* .card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  text-decoration: none;
  margin-right: 4vh;
  background: hsl(0 0% 15% / 1);
  transition: transform 1s ease, height 0.5s ease;
} */

.card {
  flex: 0 0 auto;
  position: relative;
  display: block;
  min-height: 100%;
  width: 380px;
  border-radius: 8px;
  overflow: hidden;
  text-decoration: none;
  margin-right: 4vh;
  background: hsl(0 0% 15% / 1);
  transition: transform 1s ease; 
}

.card:hover{
  transform: scale(1.2); 
  height:100%;
  z-index: 1;
} 

.card__title {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-image {
  width: 100%;
  height: 200px; /* Set a specific height for all card images */
  object-fit: cover; /* Maintain aspect ratio and cover the entire space */
  border-radius: 8px;
  margin-bottom: 0px;
}

.App {
  display: grid;
  grid-template-columns: 20vh 1fr;
  grid-template-rows: 10vh 1fr;
}

.container {
  display: grid;
  grid-template-rows: 10vh 1fr;
  align-items: center;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  row-gap: 1.2rem;
  padding: 0rem;
  list-style-type: none;
  column-gap: 1.2rem;
  margin-top: 1rem;
}

.card-content {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.card-content {
  display: none; /* Hide the card content by default */
}

.card:hover .card-content {
  display: block; /* Show the card content when the card is hovered over */
}

.card-title {
  position: relative;
  width: max-content;
  word-wrap: break-all;
  margin-top: 0px;
  color: white;
  text-decoration-line: none;
  font-size: 32px;
  font-weight: bold;
}

.card-title-container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.card-title::after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: var(--clr-accent-400);
  left: -1%;
  bottom: -4px;
  width: calc(105%);
  transform: scaleX(0);
  transition: transform 500ms ease;
  transform-origin: left;
}

.card:hover .card-title::after {
  transform: scaleX(1);
}

.card-title:hover {
  color: rgb(136, 136, 136);
  transition: color .3s ease-in-out;
}

.dropDown {
  margin-bottom: 5vh;
  margin-top: 0vh;
}

.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: var(--clr-neutral-900);
  background-color: var(--clr-accent-400);
  padding: 0.5em 1.25em;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.button:hover {
  transition: background-color .2s ease-in-out;
  background-color: hsla(142, 90%, 61%, 0.658);
}

.navBar {
  font-size: 25px;
  color: white;
  margin-left: 2vh;
  font-weight: bold;
}

.navButton {
  color: white;
  text-decoration: none;
}

.navButton:hover {
  color: rgb(136, 136, 136);
  transition: color .3s ease-in-out;
}

.store-icon {
  margin-right: 0.2rem;
}

.store-icon-container {
  margin-top: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}